@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a, button {
  transition: color 0.2s ease-in-out;
}

/* Improve focus states */
a:focus, button:focus {
  outline: 2px solid #db2777;
  outline-offset: 2px;
}